* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin : 0;
  background-color: #fff;
}

.container {
  padding-top: 20px;
  width: calc(100% / 3);
  height: calc(100% / 3);
  float: left;
  border-right: 1px solid #aaa;
}

.highcharts-column-series rect.highcharts-point {
  stroke: rgba(255, 255, 255, 0.1);
}